
<div class="level">
  <h1 class="title">New Comment</h1>
  <div class="level-item-right">
    <%= render partial: "partials/link_btn", locals: {href: comments_path, icon: 'caret-left', text: 'Back', css_class: 'back-btn'} %>
  </div>
</div>

<%= render 'form', comment: @comment %>
