<div class="level">
  <h1 class="title">New Link</h1>
  <div class="level-item-right">
    <%= render partial: "partials/link_btn", locals: {href: task_links_path, icon: 'caret-left', text: 'Back', css_class: 'back-btn'} %>
  </div>
</div>

<%= render 'form', task_link: @task_link %>
