<div class="level">
  <h1 class="title">Editing Task Status</h1>
  <div class="level-item-right">
    <%= link_to @task_status, class: "button is-light" do %>
      <span class="icon is-small">
        <%= icon('fas', 'eye') %>
      </span>
      <span>Show</span>
    <% end %>
    <%= render partial: "partials/link_btn", locals: {href: task_statuses_path, icon: 'caret-left', text: 'Back', css_class: 'is-light back-btn'} %>
  </div>
</div>

<%= render 'form', task_status: @task_status %>
