<%
label ||= attr
value = value
attrs = {
  class: "input date-time"
}
attrs[:value] = value if value.present?
%>
<div class="field level">
  <div class="level-item-left column is-one-quarter">
    <%= form.label label %>
  </div>
  <div class="level-item-left column is-three-quarters">
    <%= form.text_field attr, attrs %>
  </div>
</div>
