<div class="field level">
  <div class="level-item-left column is-one-quarter">
    <%= form.label attr %>
  </div>
  <div class="level-item-left column is-three-quarters">
    <%= form.text_field attr, class: "input" %>
  </div>
</div>
