<div class="field level">
  <%= form.label attr, class: "level-item-left column is-one-quarter" %>
  <div class="level-item-left column is-three-quarters">
    <%= form.text_area attr, class: "textarea" %>
  </div>
</div>
