<div class="field level">
  <div class="level-item-left column is-one-quarter"></div>
  <div class="level-item-left column is-three-quaters">
    <%= form.submit class: "button #{model.new_record? ? "is-success" : "is-info"}" %>
  </div>
</div>
