<% if notice %>
  <div class="level">
    <label class="level-item-left column is-one-quarter">Result</label>
    <span class="level-item-left column is-three-quaters">
      <div class="tag is-primary"><%= notice %></div>
    </span>
  </div>
<% end %>
