<div class="level">
  <label class="level-item-left column is-one-quarter"><%= title %></label>
  <span class="level-item-left column is-three-quaters">
    <%= icon("fas is-size-5	#{value ? "has-text-success" : "has-text-danger"}", value ? "check-circle" : "times-circle") %>
  </span>
</div>
