<div class="level">
  <label class="level-item-left column is-one-quarter"><%= title %></label>
  <span class="level-item-left column is-three-quaters">
    <div class="tag" style="width:30px;height:20px;background-color:<%=value%>"></div>
  </span>
</div>
