<div class="level">
  <label class="level-item-left column is-one-quarter">Attached File</label>
  <span class="level-item-left column is-three-quarters">
    <%= render partial: "partials/file", locals: {item: item, size: size} %>
  </span>
</div>
