<div class="level">
  <label class="level-item-left column is-one-quarter"><%= title %></label>
  <span class="level-item-left column is-three-quarters">
    <%= render partial: "partials/icon", locals: {img: value, size: size} %>
  </span>
</div>
