<%if user %>
  <%= link_to user, class: "button" do %>
    <%= render partial: "partials/icon", locals: {img: user.avatar, size: 24} %>
    <span>
      <%=user.username%>
    </span>
  <% end %>
<% end %>
