<div class="level">
  <h1 class="title">Settings</h1>
  <div class="level-item-right">
    <%= render partial: "partials/link_btn", locals: {href: url_for(action: 'edit', controller: 'settings'), icon: 'edit', text: 'Edit', css_class: 'is-info'} %>
  </div>
</div>

<%= render partial: "partials/notice", locals: {notice: notice} %>

<% @settings.each do |k, v| %>
  <% if v.is_a?(TrueClass) || v.is_a?(FalseClass)%>
    <%= render partial: "partials/show_boolean", locals: {title: k.titleize, value: v} %>
  <% else %>
    <%= render partial: "partials/show_text", locals: {title: k.titleize, value: v} %>
  <% end %>
<% end %>
