<div class="level">
  <h1 class="title">Editing Access Token</h1>
  <div class="level-item-right">
    <%= link_to @model, class: "button" do %>
      <span class="icon is-small">
        <%= icon('fas', 'eye') %>
      </span>
      <span>Show</span>
    <% end %>
    <%= render partial: "partials/link_btn", locals: {href: access_tokens_path, icon: 'caret-left', text: 'Back', css_class: 'back-btn'} %>
  </div>
</div>

<%= render 'form', access_token: @model %>
