
<div class="level">
  <h1 class="title">New Access Token</h1>
  <div class="level-item-right">
    <%= render partial: "partials/link_btn", locals: {href: access_tokens_path, icon: 'caret-left', text: 'Back', css_class: 'back-btn'} %>
  </div>
</div>

<%= render 'form', access_token: @model %>
