
<div class="level">
  <h1 class="title">New Task Tag</h1>
  <div class="level-item-right">
    <%= render partial: "partials/link_btn", locals: {href: task_tags_path, icon: 'caret-left', text: 'Back', css_class: 'is-light back-btn'} %>
  </div>
</div>

<%= render partial: 'form', locals: {tag: @task_tag} %>
