/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require select2
 *= require flatpickr
 *= require flatpickr/material_blue
 *= require paging
 */

$primary: #0066CC;

@import "bulma";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "simplemde-1.11.2.min";
@import "croppie-2.6.4";
@import "t-popup-1.0.0-min";
@import "t-menu-1.0.0-min";

.navbar{
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

label,legend{
  font-weight: bold;
}

label.button{
  font-weight: normal;
}

fieldset.box{
  border-style: solid;
  box-shadow: none;
  border-width: 1px;
}

.is-round{
  border-radius: 6px;
}

.has-padding-hz{
  padding-left: 6px;
  padding-right: 6px;
}

.field_with_errors .input{
  border-color: $danger;
}

.table td,
.table th {
  vertical-align: middle;
}

.hidden{
  display: none;
}

.level-item-center{
  display: flex;
  justify-content: center;
}

.force-flex{
  display: flex;
  align-items: center;
}

.box{
  overflow-x: auto;
}

.timestamp{
  text-transform: capitalize;
}

.flex{
  display: flex;
}

.flex>*{
  margin-right: 5px;
}

@media screen and (max-width: 768px){
  .button{
    width: 100%;
  }
}

.table .button.is-small{
  font-size: 0.85rem;
  border-radius: 3px;
}

.column{
  padding-bottom: 0;
}
